apiVersion: apps/v1
kind: Pod
metadata:
  name: {{ name }}
{% if labels %}
  labels:
{% for key, value in labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endif %}
spec:
  containers:
    - name: {{ name }}
      image: {{ image }}:latest
{% if envs %}
      env:
{% for key, value in envs.items() %}
        - name: {{ key }}
          value: "{{ value }}"
{% endfor %}
{% endif %}