name: Generate Kubernetes deployment


on:
  workflow_dispatch:
        inputs:
            name:
                description: object and container name for Deployment manifest
                required: true
                type: string
            labels:
                description: field `metadata.labels` for Deployment manifest, coma-separated. If not provided, it will not create labels field.
                type: string
            replicas:
                description: field 'spec.replicas' that indicates how many pods with the same image Deployment will create
                type: number
                default: 3
            envs:
                description: List of environment variables provided in  <environment_name>=<value> manner, coma-separated
                type: string
jobs:
    create-manifest:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v5
        - name: Setup Python
          uses: actions/setup-python@v5
          with:
            python-version: "3.10"
        - name: Install dependencies
          run: python -m pip install -r requirements.txt
        - name: Prepare options
          run: |
            options="--name '${{github.event.inputs.name}}' --image '${{github.event.inputs.name}}' --replicas ${{github.event.inputs.replicas}}"

            if [ -n "${{ github.event.inputs.labels }}" ]; then
                options="$options --labels '${{ github.event.inputs.labels }}'"
            fi

            if [ -n "${{ github.event.inputs.envs }}" ]; then
                options="$options --envs '${{ github.event.inputs.envs }}'"
            fi

            echo "OPTIONS=$options" >> $GITHUB_ENV
        - name: Run script
          run: python main.py $OPTIONS
