name: Generate Kubernetes deployment

on:
  workflow_dispatch:
        inputs:
            name:
                description: object and container name for Deployment manifest
                required: true
                type: string
            labels:
                description: field `metadata.labels` for Deployment manifest, coma-separated in <label_key>=<label_value> manner. If not provided, it will not create labels field.
                type: string
            replicas:
                description: field 'spec.replicas' that indicates how many pods with the same image Deployment will create
                type: number
                default: 3
            envs:
                description: List of environment variables provided in  <environment_name>=<value> manner, coma-separated
                type: string
jobs:
    create-manifest:
        env:
          manifest_file: '${{github.event.inputs.name}}-deployment.yaml'
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v5
        - name: Invoke kubernetes generation
          uses: ./
          with:
            name: ${{github.event.inputs.name}}
            labels: ${{github.event.inputs.labels}}
            replicas: ${{github.event.inputs.replicas}}
            envs: ${{github.event.inputs.envs}}
            filename: ${{env.manifest_file}}
          id: kubernetes_manifest
        - name: Save manifest to file
          run: echo "${{steps.kubernetes_manifest.outputs.manifest}}" >> ${{env.manifest_file}}
        - name: Show '${{github.event.inputs.name}}' manifest
          run: |
            echo "--- Manifest file to preview ---"
            cat $manifest_file
        - name: Upload manifest to artifacts
          uses: actions/upload-artifact@v4
          with:
            name: Deployment manifest
            path: ${{ env.manifest_file }}
